USE [master]
GO
/****** Object:  Database [Lab02]    Script Date: 12/9/2021 10:25:41 PM ******/
CREATE DATABASE [Lab02]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Lab02', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Lab02.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Lab02_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Lab02_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Lab02].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Lab02]
GO
/****** Object:  Table [dbo].[tblAccount]    Script Date: 12/9/2021 10:25:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAccount](
	[username] [varchar](55) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[fullname] [nvarchar](55) NOT NULL,
	[address] [varchar](255) NOT NULL,
	[createDate] [date] NOT NULL,
	[isActive] [bit] NOT NULL,
	[role] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblAccountRole]    Script Date: 12/9/2021 10:25:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAccountRole](
	[roleID] [int] IDENTITY(1,1) NOT NULL,
	[roleName] [varchar](55) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBooking]    Script Date: 12/9/2021 10:25:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBooking](
	[bookingID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](55) NOT NULL,
	[bookingDate] [date] NOT NULL,
	[discount] [int] NOT NULL,
	[totalCostBeforeDiscount] [float] NOT NULL,
	[totalCostAfterDiscount] [float] NOT NULL,
	[status] [bit] NULL,
	[totalRoomIsBooking] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[bookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBookingDetail]    Script Date: 12/9/2021 10:25:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBookingDetail](
	[bookingDetailID] [int] IDENTITY(1,1) NOT NULL,
	[bookingID] [int] NOT NULL,
	[roomID] [int] NOT NULL,
	[checkinDate] [date] NOT NULL,
	[checkoutDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bookingDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDiscount]    Script Date: 12/9/2021 10:25:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDiscount](
	[discountID] [int] IDENTITY(1,1) NOT NULL,
	[discountName] [varchar](55) NOT NULL,
	[discountCost] [float] NOT NULL,
	[expirationDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[discountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[discountName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFeedback]    Script Date: 12/9/2021 10:25:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFeedback](
	[fbID] [int] IDENTITY(1,1) NOT NULL,
	[bookingID] [int] NOT NULL,
	[hotelID] [int] NOT NULL,
	[rating] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[fbID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHotel]    Script Date: 12/9/2021 10:25:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHotel](
	[hotelID] [int] IDENTITY(1,1) NOT NULL,
	[hotelImage] [varchar](20) NOT NULL,
	[hotelName] [varchar](55) NOT NULL,
	[hotelAddress] [varchar](255) NOT NULL,
	[areaID] [int] NOT NULL,
	[roomAmount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[hotelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHotelArea]    Script Date: 12/9/2021 10:25:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHotelArea](
	[areaID] [int] IDENTITY(1,1) NOT NULL,
	[areaName] [varchar](55) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[areaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRoom]    Script Date: 12/9/2021 10:25:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRoom](
	[roomID] [int] IDENTITY(1,1) NOT NULL,
	[roomImage] [varchar](20) NOT NULL,
	[hotelID] [int] NOT NULL,
	[roomType] [int] NOT NULL,
	[roomPrice] [float] NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK__tblRoom__6C3BF5DE51F49695] PRIMARY KEY CLUSTERED 
(
	[roomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRoomType]    Script Date: 12/9/2021 10:25:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRoomType](
	[typeID] [int] IDENTITY(1,1) NOT NULL,
	[typeName] [varchar](55) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[typeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblAccount] ADD  DEFAULT ('0') FOR [password]
GO
ALTER TABLE [dbo].[tblAccount] ADD  DEFAULT (getdate()) FOR [createDate]
GO
ALTER TABLE [dbo].[tblAccount] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[tblAccount] ADD  DEFAULT ((3)) FOR [role]
GO
ALTER TABLE [dbo].[tblBooking] ADD  DEFAULT (getdate()) FOR [bookingDate]
GO
ALTER TABLE [dbo].[tblBooking] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[tblAccount]  WITH CHECK ADD  CONSTRAINT [role_id] FOREIGN KEY([role])
REFERENCES [dbo].[tblAccountRole] ([roleID])
GO
ALTER TABLE [dbo].[tblAccount] CHECK CONSTRAINT [role_id]
GO
ALTER TABLE [dbo].[tblBooking]  WITH CHECK ADD  CONSTRAINT [discount_id] FOREIGN KEY([discount])
REFERENCES [dbo].[tblDiscount] ([discountID])
GO
ALTER TABLE [dbo].[tblBooking] CHECK CONSTRAINT [discount_id]
GO
ALTER TABLE [dbo].[tblBooking]  WITH CHECK ADD  CONSTRAINT [username_id] FOREIGN KEY([username])
REFERENCES [dbo].[tblAccount] ([username])
GO
ALTER TABLE [dbo].[tblBooking] CHECK CONSTRAINT [username_id]
GO
ALTER TABLE [dbo].[tblBookingDetail]  WITH CHECK ADD  CONSTRAINT [booking_id_2] FOREIGN KEY([bookingID])
REFERENCES [dbo].[tblBooking] ([bookingID])
GO
ALTER TABLE [dbo].[tblBookingDetail] CHECK CONSTRAINT [booking_id_2]
GO
ALTER TABLE [dbo].[tblBookingDetail]  WITH CHECK ADD  CONSTRAINT [room_id_2] FOREIGN KEY([roomID])
REFERENCES [dbo].[tblRoom] ([roomID])
GO
ALTER TABLE [dbo].[tblBookingDetail] CHECK CONSTRAINT [room_id_2]
GO
ALTER TABLE [dbo].[tblFeedback]  WITH CHECK ADD  CONSTRAINT [id_1] FOREIGN KEY([bookingID])
REFERENCES [dbo].[tblBooking] ([bookingID])
GO
ALTER TABLE [dbo].[tblFeedback] CHECK CONSTRAINT [id_1]
GO
ALTER TABLE [dbo].[tblFeedback]  WITH CHECK ADD  CONSTRAINT [id_2] FOREIGN KEY([hotelID])
REFERENCES [dbo].[tblHotel] ([hotelID])
GO
ALTER TABLE [dbo].[tblFeedback] CHECK CONSTRAINT [id_2]
GO
ALTER TABLE [dbo].[tblHotel]  WITH CHECK ADD  CONSTRAINT [area_id] FOREIGN KEY([areaID])
REFERENCES [dbo].[tblHotelArea] ([areaID])
GO
ALTER TABLE [dbo].[tblHotel] CHECK CONSTRAINT [area_id]
GO
ALTER TABLE [dbo].[tblRoom]  WITH CHECK ADD  CONSTRAINT [FK_tblRoom_tblHotel] FOREIGN KEY([hotelID])
REFERENCES [dbo].[tblHotel] ([hotelID])
GO
ALTER TABLE [dbo].[tblRoom] CHECK CONSTRAINT [FK_tblRoom_tblHotel]
GO
ALTER TABLE [dbo].[tblRoom]  WITH CHECK ADD  CONSTRAINT [room_type] FOREIGN KEY([roomType])
REFERENCES [dbo].[tblRoomType] ([typeID])
GO
ALTER TABLE [dbo].[tblRoom] CHECK CONSTRAINT [room_type]
GO
USE [master]
GO
